body {
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(17, 41, 17);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}